#root {
  inline-size: 80%;
  max-inline-size: 720px;
  min-inline-size: 360px;
  margin-inline: auto;
  padding: 2rem;
}

.react-hiit__timer__display {
  font-size: 3em;
  text-align: center;
  margin-block: 0;
}

.react-hiit__timeline {
  block-size: 20px;
  margin-block-end: 40px;
}

.react-hiit__timeline__track {
  position: relative;
}

.react-hiit__timeline__progress {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 24px;
  max-inline-size: 100%;

  &.work {
    background-color: rebeccapurple;
  }

  &.rest {
    background-color: white;
  }
}

.react-hiit__timeline__ticks {
  position: absolute;
  display: flex;
  inline-size: 100%;
  border-inline-end: 1px solid white;
}

.react-hiit__timeline__block {
  border: 1px solid white;
  border-inline-end-width: 0;
  block-size: 20px;
}

.react-hiit__controls {
  margin-block-end: 40px;

  label {
    display: block;
    margin-block: 10px;
  }
}
.react-hiit__buttons {
  margin-block-end: 40px;

  button {
    background-color: rebeccapurple;
    margin-inline-end: 10px;
  }
}

